.content {
    margin-left: 250px;
}
.row {
    margin-top: 3px;
    padding:10px;
    background: none repeat scroll 0 0 #fff;
}
.row p:first-child {
    margin-top: 0;
}
.row p:last-child {
    margin-bottom: 0;
}
ul.sidebar {
    width: 245px;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.sidebar a {
    text-decoration: none;
    color: #47680e;
}
ul.sidebar > li:first-child {
    padding-top: 0;
}
ul.sidebar > li:last-child {
    padding-bottom: 0;
}
ul.sidebar li a.side-name {
    display: block;
    padding: 10px;
    background: none repeat scroll 0 0 #9cdd0f;
    color:#ffffff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
ul.sidebar li a.side-name span {
    background-image: url("/i/strela-menu.png");
    float: right;
    height: 9px;
    margin: 5px;
    width: 13px;
}
ul.sidebar li.active a.side-name span {
    background-position: -23px;
}
ul.sidebar li li.active > a {
    font-weight: bold;
}
ul.sidebar ul {
    background: none repeat scroll 0 0 #fff;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 15px;
}
ul.sidebar li.active ul {
    display: block;
}
ul.sidebar > li {
    padding: 5px 0;
}
ul.sidebar ul ul {
    padding-top: 5px;
    padding-bottom: 0;
}
ul.sidebar ul ul li:last-child {
    padding-bottom: 0;
}