.row-product {
    min-height: 160px;
}
.product_img {
    float: left;
    margin: 0 5px 5px 0;
}
.nutrients {
    display: inline-block;
    width: 49%;
}
.nutrients table {
    width: 100%;
}
.nutrients table th, .nutrients table td {
    width: 50%;
    padding: 0 5px;
}
.nutrients table th {
    text-align: right;
}
.nutrients table td {
    text-align: left;
    position: relative;
}
.nutrients table td span {
    border-bottom: 1px dotted;
}
.nutrients table td span .normal {
    background-color: #000;
    border-radius: 5px;
    bottom: -15px;
    color: #fff;
    left: 90px;
    padding: 5px;
    position: absolute;
    width: 111px;
    z-index: 2;
    display:none;
}
.nutrients table td:hover .normal,
.nutrients table td .normal:hover {
    display: block;
}